[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2019.11.28"
chardet = "==3.0.4"
idna = "==2.9"
pkg-resources = "==0.0.0"
requests = "==2.23.0"
urllib3 = "==1.25.8"

[dev-packages]

[requires]
python_version = "3.7"
